<!DOCTYPE html>
<html lang="en">
<head>
    {% load static  %}
    {% include "includes/user_header.html" %}
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    {% block body %}


    <div class = "container">
        <form method ='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type ="submit">Submit</button>
        </form>
        <br>
    </div>


    {% endblock %}


</body>
</html>

<script src="/static/graphics/js/jquery.min.js"></script>
<script src="/static/graphics/js/bootstrap.min.js"></script>
<script src="/static/graphics/js/respond.min.js"></script>
<script src="/static/graphics/js/bodypadding.js"></script>