{% load static  %}
{% include "includes/header.html" %}

<br/><br/><br/><br/>
    {% if form.errors %}
    <div class="alert alert-dismissible alert-danger">
        <h4 class="alert-heading">Error Authenticating</h4>
        <p class="mb-0">Your username and password didn't match. Please try again.</p>
    </div>
    {% endif %}

       {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}


    <div class="container" align="center">
       
    <div style="text-align: left; padding-left: 3%; width: 400px;">
 
     <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"align="center">Log in</h3>

                </div>
                <div class="panel-body"align="center">
                    <div class="form-group has-primary">
                         <input type="text" id="username" name="username" placeholder="Username" class="form-control" ><br/><br/>
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control"><br/><br/>
                        <button type="submit" class="btn btn-primary">Log in</button><br/><br/>
                    </div>
                    <br><br>
                    <p>You do not have an account? Create one <a href="{% url 'profile' %}">here</a></p>
              
                </div>
            </div>
                
     </form> 
            </div>
        </div>
    </div>



<script src="/static/graphics/js/jquery.min.js"></script>
<script src="/static/graphics/js/bootstrap.min.js"></script>
<script src="/static/graphics/js/respond.min.js"></script>
<script src="/static/graphics/js/bodypadding.js"></script>