<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>NerdMe</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'home' %}">NerdMe</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
           {% if request.user.is_authenticated %}
           <li><a href="{% url 'Profile:home' %}">Profile</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
          {% endif%}
      </li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>This is NerdMe</h1>
						<p>NerdMe is a software platform that connects students together based on compatibility.</p>
					</header>
					<a href="#main" class="button big scrolly">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="home.html" class="link"><img src="{% static 'assets/media/alec.jpg' %}" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>About Us</h3>
										<p>NerdMe is an application designed to connect college students together. By providing your information NerdMe uses high level algorithms to match students based on classes, major, level, etc.
										Our world class developers' first priority is to make the user experience friendly and to ensure safety of each users' data</p>
										
										<a href="#" class="button">Learn More</a>
									</div>
								</div>
						</div>
					</section>


				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Meet our Developers</h2>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="{% static 'assets/media/nathan.jpg' %}" alt="" />
									</div>
									<h4>Nathan Stanley. </h4>
								<a href="https://www.linkedin.com/in/muammar-saeed-b71387153/" class="button">Learn More</a>

									<!--<a href="#" class="button">Learn More</a> -->
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="{% static 'assets/media/moe.jpg' %}" alt="" />
									</div>
									<h4>Muammar Saeed </h4>
									<a href="https://www.linkedin.com/in/muammar-saeed-b71387153/" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="{% static 'assets/media/pic04.jpg' %}" alt="" />
									</div>
									<h4>Zaid Qasem </h4>
									<a href="#" class="button">Learn More</a>
								</div>
							</div>
						</div>
					</section>

			</div>
]

		<!-- Scripts -->
			<script type="static/text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			
			

	</body>
</html>